<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoPlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <GoPlanner.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="topScript" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="topFromLeft" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="omitLetters" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="leftScript" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="leftFromTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showSequence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startBlack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startAlternating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="playerName" serializeAs="String">
                <value />
            </setting>
            <setting name="opponentName" serializeAs="String">
                <value />
            </setting>
            <setting name="playHours" serializeAs="String">
                <value />
            </setting>
            <setting name="playMinutes" serializeAs="String">
                <value />
            </setting>
            <setting name="allowUndos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="playerColor" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="enableBeep" serializeAs="String">
                <value>True</value>
            </setting>
        </GoPlanner.Properties.Settings>
    </userSettings>
</configuration>